---
import PrimaryLayout from "../../layouts/PrimaryLayout.astro"
---

<PrimaryLayout 
	title="Blogi">

	<main class="content-grid">
		<h1>Blogi</h1>
		<p>Täältä voit lukea juttuja meistä ja meidän tekemisistä!</p>
	</main>
</PrimaryLayout>