---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import PrimaryLayout from "../../layouts/PrimaryLayout.astro"
// import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
// import Header from '../../components/Header.astro';
// import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PrimaryLayout 
	title="Blogi">

	<main class="content-grid">
		<h1>Blogi</h1>
		<p>Täältä voit lukea juttuja meistä ja meidän tekemisistä!</p>
		<section>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blogi/${post.id}/`}>
								{post.data.heroImage && (
									<Image width={720} height={360} src={post.data.heroImage} alt="" />
								)}
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</PrimaryLayout>
