:root {
    --clr-sage-light: #FBFFF4;
    --clr-sage: #AEB79B; /* ORIGINAL: #ADB898 */
    --clr-sage-dark: #485134;
    --clr-sand: #E3D6C5;
    --clr-pink-light: #FFF1ED;
    --clr-pink: #FFD2C6;
    --clr-peach: #C67661;
    --clr-red-fox: #4D1000;
    --clr-red-wine: #2F0A00;
    --clr-red-wine-dark: #120400;
    --clr-grey-lightest: #FBFEFF;
    --clr-grey-light: #CFE0E7;
    --clr-grey: #B5C6CD;
    --clr-grey-dark: #7D8E95;
    --clr-grey-darkest: #55666D;

    --clr-hue-sage: 122; /* Original 122.91 */
    --clr-palette-sage-1: oklch(0.994 0.015 var(--clr-hue-sage));
    --clr-palette-sage-2: oklch(0.90 0.035 var(--clr-hue-sage));
    --clr-palette-sage-3: oklch(0.82 0.04 var(--clr-hue-sage));
    --clr-palette-sage-4: oklch(0.77 0.04 var(--clr-hue-sage));
    --clr-palette-sage-5: oklch(0.65 0.04 var(--clr-hue-sage));
    --clr-palette-sage-6: oklch(0.55 0.04 var(--clr-hue-sage));
    --clr-palette-sage-7: oklch(0.45 0.04 var(--clr-hue-sage));
    --clr-palette-sage-8: oklch(0.35 0.04 var(--clr-hue-sage));
    --clr-palette-sage-9: oklch(0.25 0.035 var(--clr-hue-sage));
    --clr-palette-sage-10: oklch(0.15 0.03 var(--clr-hue-sage));

    --clr-hue-red-fox: 37;
    --clr-palette-red-fox-1: oklch(0.968 0.0159 var(--clr-hue-red-fox));
    /* --clr-palette-red-fox-1: oklch(0.98 0.0459 var(--clr-hue-red-fox)); */
    --clr-palette-red-fox-2: oklch(0.90 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-3: oklch(0.82 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-4: oklch(0.77 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-5: oklch(0.65 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-6: oklch(0.55 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-7: oklch(0.45 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-8: oklch(0.35 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-9: oklch(0.25 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-10: oklch(0.15 0.0459 var(--clr-hue-red-fox));

    --clr-text-1: var(--clr-palette-sage-10);
    --clr-text-2: var(--clr-palette-sage-9);
    --clr-surface-1: var(--clr-palette-sage-1);
    --clr-surface-2: var(--clr-palette-sage-2);
    --clr-surface-3: var(--clr-palette-sage-3);

    --clr-text-secondary-1: var(--clr-palette-red-fox-10);
    --clr-text-secondary-2: var(--clr-palette-red-fox-9);
    --clr-surface-secondary-1: var(--clr-palette-red-fox-1);
    --clr-surface-secondary-2: var(--clr-palette-red-fox-2);
    --clr-surface-secondary-3: var(--clr-palette-red-fox-3);

    --clr-bg-default: var(--clr-surface-1);
    --clr-text-default: var(--clr-text-1);

    --clr-text-complimentary: var(--clr-palette-red-fox-10);
    --clr-text-complimentary-inverse: var(--clr-palette-red-fox-1);
    --clr-surface-complimentary-1: var(--clr-palette-red-fox-7);
    --clr-surface-complimentary-2: var(--clr-palette-red-fox-2);
    --clr-surface-complimentary-3: var(--clr-palette-red-fox-3);

    --clr-link: var(--clr-red-wine);
    --clr-link-hover: var(--clr-red-fox);

    --clr-cta-button: var(--clr-palette-red-fox-8);
    --clr-cta-button-hover: var(--clr-palette-red-fox-7);
    --clr-cta-button-text: var(--clr-text-complimentary-inverse);
    --clr-cta-button-secondary: var(--clr-palette-red-fox-2);
    --clr-cta-button-secondary-hover: var(--clr-palette-red-fox-3);
    --clr-cta-button-secondary-text: var(--clr-text-complimentary);

    --clr-brand: var(--clr-palette-sage-4);
    --clr-current-brand: var(--clr-brand);
    --clr-emmi: var(--clr-sage); /* --clr-sand */
    --clr-jessica: var(--clr-sage);
    --clr-severi: var(--clr-sage); /* --clr-pink */

    --clr-filter-sage-dark: invert(27%) sepia(44%) saturate(302%) hue-rotate(37deg) brightness(96%) contrast(93%);
    --clr-filter-red-fox-light: invert(100%) sepia(100%) saturate(100%) hue-rotate(279deg) brightness(102%) contrast(101%);
    --clr-filter-red-fox-dark:filter: invert(10%) sepia(38%) saturate(863%) hue-rotate(329deg) brightness(99%) contrast(97%);
    --clr-current-filter: var(--clr-filter-sage-dark);

    .secondary-color {
        --clr-bg-default: var(--clr-surface-secondary-1);
        --clr-text-default: var(--clr-text-secondary-1);
        --clr-current-hue: var(--clr-hue-red-fox);
        --clr-current-brand: var(--clr-palette-red-fox-4);
        --clr-current-filter: var(--clr-filter-red-fox-dark);
    }
}

body {
    background-color: var(--clr-bg-default);
    color: var(--clr-text-default);
}