:root {
    --clr-sage-light: #FBFFF4;
    --clr-sage: #ADB898;
    --clr-sand: #E3D6C5;
    --clr-pink-light: #FFF1ED;
    --clr-pink: #FFD2C6;
    --clr-peach: #C67661;
    --clr-red-fox: #4D1000;
    --clr-red-wine: #2F0A00;
    --clr-red-wine-dark: #120400;
    --clr-grey-lightest: #FBFEFF;
    --clr-grey-light: #CFE0E7;
    --clr-grey: #B5C6CD;
    --clr-grey-dark: #7D8E95;
    --clr-grey-darkest: #55666D;

    --clr-body-default: var(--clr-sage-light);
    --clr-font-default: var(--clr-red-wine);

    --clr-hue-sage: 122; /* Original 122.91 */
    --clr-palette-sage-1: oklch(0.98 0.046 var(--clr-hue-sage));
    --clr-palette-sage-2: oklch(0.90 0.046 var(--clr-hue-sage));
    --clr-palette-sage-3: oklch(0.82 0.046 var(--clr-hue-sage));
    --clr-palette-sage-4: oklch(0.77 0.046 var(--clr-hue-sage));
    --clr-palette-sage-5: oklch(0.65 0.046 var(--clr-hue-sage));
    --clr-palette-sage-6: oklch(0.55 0.046 var(--clr-hue-sage));
    --clr-palette-sage-7: oklch(0.45 0.046 var(--clr-hue-sage));
    --clr-palette-sage-8: oklch(0.35 0.046 var(--clr-hue-sage));
    --clr-palette-sage-9: oklch(0.25 0.046 var(--clr-hue-sage));
    --clr-palette-sage-10: oklch(0.15 0.046 var(--clr-hue-sage));

    --clr-hue-red-fox: 37;
    --clr-palette-red-fox-1: oklch(0.98 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-2: oklch(0.90 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-3: oklch(0.82 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-4: oklch(0.77 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-5: oklch(0.65 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-6: oklch(0.55 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-7: oklch(0.45 0.06 var(--clr-hue-red-fox));
    --clr-palette-red-fox-8: oklch(0.35 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-9: oklch(0.25 0.0459 var(--clr-hue-red-fox));
    --clr-palette-red-fox-10: oklch(0.15 0.0459 var(--clr-hue-red-fox));

    --clr-text-1: var(--clr-palette-sage-10);
    --clr-text-2: var(--clr-palette-sage-9);
    --clr-surface-1: var(--clr-palette-sage-1);
    --clr-surface-2: var(--clr-palette-sage-2);
    --clr-surface-3: var(--clr-palette-sage-3);

    --clr-text-complimentary: var(--clr-palette-red-fox-10);
    --clr-text-complimentary-inverse: var(--clr-palette-red-fox-1);
    --clr-surface-complimentary-1: var(--clr-palette-red-fox-7);
    --clr-surface-complimentary-2: var(--clr-palette-red-fox-2);
    --clr-surface-complimentary-3: var(--clr-palette-red-fox-3);

    --clr-brand: var(--clr-palette-sage-4);
    --clr-emmi: var(--clr-sand);
    --clr-jessica: var(--clr-sage);
    --clr-severi: var(--clr-pink);
}

body {
    background-color: var(--clr-surface-1);
    color: var(--clr-text-1);
}