.main-navigation {
    --_curve-color: var(--clr-body-default);
    --_curve-width: 100%;
    --_curve-height: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-header);
    padding: var(--space-s) var(--space-m);

    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;

        height: var(--_curve-height);
        background-color: var(--_curve-color);
        -webkit-mask-image: url('/public/assets/curve.svg');
        -webkit-mask-size: var(--_curve-width) var(--_curve-height);
        mask-image: url('/public/assets/curve.svg');
        mask-size: var(--_curve-width) var(--_curve-height);
    }
}

.services {
    margin-block: var(--space-m);
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        list-style-type: none;

        li {
            --_service-color: var(--clr-peach);
            --_service-padding: var(--space-s);
            --_conic-gradient: conic-gradient(var(--_service-color) 0 0);
            padding-block-end: var(--_service-padding);

            &:nth-child(odd) {
                padding-inline-end: var(--_service-padding);
                border-image: var(--_conic-gradient) 0 0 0 1/0 50%/0 100vw;
            }

            &:nth-child(even) {
                padding-inline-start: var(--_service-padding);
                border-image: var(--_conic-gradient) 0 1 0 0/0 50%/0 100vw;
            }

            &:nth-child(1) {
                background-color: var(--_service-color);
            }

            &:nth-child(2) {
                --_service-color: var(--clr-pink);
                background-color: var(--_service-color);
            }

            &:nth-child(3) {
                --_service-color: var(--clr-sand);
                background-color: var(--_service-color);
            }

            &:nth-child(4) {
                --_service-color: var(--clr-sage);
                background-color: var(--_service-color);
            }
        }
    }
}

.introductions {
    ul {
        list-style-type: none;
    }
}