.main-navigation {
    /* --_curve-color: var(--clr-surface-1);
    --_curve-width: 100vw;
    --_curve-height: 2vh; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-brand);
    padding: var(--space-s) var(--space-m) var(--space-m);

    /* position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100vw;
        bottom: 0;

        height: var(--_curve-height);
        background-color: var(--_curve-color);
        -webkit-mask-image: url('/assets/curve.svg');
        -webkit-mask-size: var(--_curve-width) var(--_curve-height);
        mask-image: url('/assets/curve.svg');
        mask-size: var(--_curve-width) var(--_curve-height);
    } */
}

.hero {
    position: relative;

    h1 {
        text-align: center;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20rem;
        height: 20rem;
        opacity: 0.4;
        background-image: 
            linear-gradient(oklch(from var(--clr-brand) l c var(--clr-hue-sage))),
            linear-gradient(var(--clr-surface-1)),
            url('/assets/vesivaripallo.png');
        background-blend-mode: color, saturation;
        background-size: 20rem;
        background-repeat: no-repeat;
        transform: translate(-20rem, 12rem);
        z-index: -1;
    }

    &::after {
        --_flower-size: 20rem;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: var(--_flower-size);
        height: var(--_flower-size);
        opacity: 0.5;
        background-image: 
            linear-gradient(oklch(from var(--clr-brand) l c var(--clr-hue-sage))),
            linear-gradient(var(--clr-surface-1)),
            url('/assets/vesivarikukka.png');
        background-blend-mode: color, saturation;
        background-size: var(--_flower-size);
        background-repeat: no-repeat;
        transform: translate(var(--_flower-size), 10rem);
    }
}

.ingress {
    text-align: center;
    font-size: var(--fs-0);
}

.services {
    margin-block: var(--space-xl);

    ul {
        margin: 0;
        list-style-type: none;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));
        container: services-grid / inline-size;

        li {
            --_service-color: var(--clr-surface-complimentary-1);
            --_service-padding: var(--space-l);
            --_conic-gradient: conic-gradient(var(--_service-color) 0 0);
            --_icon-size: 2rem;

            position: relative;
            padding-block-start: calc(var(--_icon-size) + 1rem);
            border-image: var(--_conic-gradient) 0 1 0 1/0 50%/0 100vw;

            &:nth-child(1) {
                background-color: var(--_service-color);
                color: var(--clr-text-complimentary-inverse);
            }

            &:nth-child(2) {
                /* --_service-color: var(--clr-pink); */
                --_service-color: var(--clr-surface-complimentary-2);
                background-color: var(--_service-color);
            }

            &:nth-child(3) {
                /* --_service-color: var(--clr-sand); */
                --_service-color: var(--clr-surface-complimentary-3);
                background-color: var(--_service-color);
            }

            &:nth-child(4) {
                --_service-color: var(--clr-brand);
                background-color: var(--_service-color);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: var(--_icon-size);
                height: calc(var(--_icon-size) + 2px);
                opacity: 0.5;
                background-image: 
                    linear-gradient(var(--_service-color)),
                    url('/assets/rinkula.png');
                background-blend-mode: color, saturation;
                background-size: var(--_icon-size);
                background-repeat: no-repeat;
                background-position: center center;
                transform: translate(47cqw, 1rem);
            }

            h3 {
                text-align: center;
            }

            @container services-grid (inline-size > calc(40ch * 2)) {

                h3 {
                    text-align: left;
                }

                &:nth-child(odd) {
                    padding-inline-end: var(--_service-padding);
                    border-image: var(--_conic-gradient) 0 0 0 1/0 50%/0 100vw;

                    &::after {
                        transform: translate(0, 1rem);
                    }
                }

                &:nth-child(even) {
                    padding-inline-start: var(--_service-padding);
                    border-image: var(--_conic-gradient) 0 1 0 0/0 50%/0 100vw;

                    &::after {
                        transform: translate(var(--_service-padding), 1rem);
                    }
                }
            }
        }
    }
}

.details {
    position: relative;
    margin-block-end: var(--space-xl);

    &::before {
        --_flower-size: 20rem;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: var(--_flower-size);
        height: var(--_flower-size);
        opacity: 0.5;
        background-image: 
            linear-gradient(oklch(from var(--clr-brand) l c var(--clr-hue-sage))),
            linear-gradient(var(--clr-surface-1)),
            url('/assets/vesivarikukka.png');
        background-blend-mode: color, saturation;
        background-size: var(--_flower-size);
        background-repeat: no-repeat;
        transform: translate(calc(var(--_flower-size) * -1), 10rem);
        z-index: -1;
    }    

    &::after {
        --_bg-size: 20rem;
        --_ball-size: 18rem;
        --_ring-size: 15rem;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: var(--_bg-size);
        height: var(--_bg-size);
        opacity: 0.3;
        background-image: 
            linear-gradient(oklch(from var(--clr-brand) l c var(--clr-hue-sage))),
            linear-gradient(var(--clr-surface-1)),
            url('/assets/rinkula.png'),
            url('/assets/vesivaripallo.png');
        background-blend-mode: color, saturation;
        background-size: var(--_ring-size), var(--_ball-size);
        background-repeat: no-repeat;
        background-position: 
            right,
            top;
        transform: translate(var(--_bg-size), 10rem);
    }

    .our-values {
        li {
            list-style: none;
            margin-inline-start: var(--space-m);
            margin-block-end: var(--space-xs);
            padding-inline-start: var(--space-l);
            background-image: url('/assets/rinkula.png');
            background-repeat: no-repeat;
            background-position: left top;
            background-size: var(--fs-1);
        }
    }
}

.contact-methods {
    padding: var(--space-l) var(--space-xl);
    border-radius: 1rem;
    background-color: var(--clr-surface-2);

    .contact-insta {
        display: flex;
        gap: var(--space-xs);
        align-items: center;

        img {
            display: inline-block;
            /* margin-block-start: var(--space-s); */
            stroke: var(--clr-surface-2);
            filter: invert(29%) sepia(9%) saturate(1441%) hue-rotate(37deg) brightness(96%) contrast(91%);
        }
    }

}

.who-we-are {
    margin-block: var(--space-l) var(--space-xl);

    img {
        aspect-ratio: 3/2;
        border-radius: 1rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.introductions {
    background-color: var(--clr-surface-2);

    ul {
        list-style-type: none;
        container: introduction-card / inline-size;
        margin-block-start: var(--space-l);
    
        li {
            margin-block-end: var(--space-l);

            --_personal-color: var(--clr-brand);
            --_personal-blob: url('/assets/ympyra.png');

            &.emmi {
                --_personal-color: var(--clr-emmi);
                --_personal-blob: url('/assets/vesivarikukka.png');

                .decorated-image::before {
                    top: 0;
                    left: 0;
                    transform: translate(-5rem, 1rem) scale(1.1) rotate(45deg);
                }

                img {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }

            &.jessica {
                --_personal-color: var(--clr-jessica);
                --_personal-blob: url('/assets/rinkula.png');

                .decorated-image::before {
                    top: 0;
                    right: 0;
                    transform: translate(3rem, 1rem) scale(1.1) rotate(45deg);
                }
            }

            &.severi {
                --_personal-color: var(--clr-severi);
                --_personal-blob: url('/assets/vesivaripallo.png');

                .decorated-image::before {
                    top: 0;
                    left: 0;
                    transform: translate(-3rem, 1rem) scale(1.1) rotate(135deg);
                }
            }

            --_image-size: 12rem;
            --_decoration-size: 10rem;

            .decorated-image {
                min-width: var(--_image-size);
                position: relative;
                isolation: isolate;
            }

            .decorated-image::before {
                content: '';
                position: absolute;
                width: var(--_decoration-size);
                height: var(--_decoration-size);
                opacity: 0.4;
                background-image: 
                    linear-gradient(oklch(from var(--clr-surface-2) l c var(--clr-hue-sage))),
                    linear-gradient(var(--clr-surface-2)),
                    var(--_personal-blob);
                background-blend-mode: color, saturation;
                background-size: var(--_decoration-size);
                background-repeat: no-repeat;
                z-index: -1;
            }

            img {
                width: var(--_image-size);
                height: var(--_image-size);
                aspect-ratio: 1/1;
                margin-block-start: var(--space-m);
                border: 0.4rem solid var(--_personal-color);
                border-radius: 100%;
                background-color: var(--_personal-color);
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-xs);
            
            @container introduction-card (inline-size > calc(55ch + 12rem)) {
                flex-direction: row;
                align-items: flex-start;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                &.emmi {
                    .decorated-image::before {
                        transform: translate(-3rem, 8rem) scale(1.1);
                    }
                }
            }
        }
    }
}
