@import "reset.css";
@import "layout.css";
@import "spacing.css";
@import "color.css";
@import "typography.css";
@import "components.css";

main {
    min-height: 100vh;
}

button {
    min-width: fit-content;
}

hr {
    margin-block: var(--space-l);
    margin-inline: auto;
    border: 0px;
    width: 20rem;
    height: 2rem;
    position: relative;
    background-image: url('/assets/doodle-viiva.png');
    background-size: contain;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--clr-sage);
        mix-blend-mode: overlay;
    }
}

/* Helpers */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

