:root {

    /* https://utopia.fyi/space/calculator?c=360,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4489rem + 0.2273vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
    --space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    --space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
    --space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
    --space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
    --space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
    --space-3xl: clamp(6rem, 5.3864rem + 2.7273vw, 7.5rem);

    --flow-space: var(--space-s);
}

h1, h2 {
    margin-block: var(--space-l) var(--space-s);
}

header > h2 {
    margin-block: 0;
}

h3, h4 {
    margin-block: var(--space-m) var(--space-xs);
}

p + p {
    margin-block-start: var(--flow-space);
}
