@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Light.woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-SemiBold.woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.woff2');
    font-weight: 700;
    font-display: swap;
}

:root {
    --ff-base: "Open Sans", sans-serif;
    --ff-display: "Josefin Sans", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --fs--2: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
    --fs--1: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
    --fs-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    --fs-1: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem);
    --fs-2: clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem);
    --fs-3: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem);
    --fs-4: clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem);
    --fs-5: clamp(2.4883rem, 1.9457rem + 2.4116vw, 3.8147rem);
    --fs-6: clamp(2.986rem, 2.2568rem + 3.2407vw, 4.7684rem);
    --fs-7: clamp(3.5832rem, 2.6107rem + 4.3223vw, 5.9605rem);
    --fs-8: clamp(4.2998rem, 3.0109rem + 5.7287vw, 7.4506rem);
}

/* Typographic resets */

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 80ch;
}

/* Typographic styles */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs--1);
    line-height: 1.5;
}

b {
    font-weight: var(--fw-bold);
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4 {
    font-family: var(--ff-display);
    font-weight: var(--fw-light);
    line-height: 0.9;
    text-wrap: balance;
}

h1 b, h2 b, h3 b, h4 b {
    font-weight: var(--fw-semi-bold);
}

h5, h6 {
    font-weight: var(--fw-bold);
    text-wrap: balance;
}

h1 {
    font-size: var(--fs-7);
    letter-spacing: -0.04em;
}

h2 {
    font-size: var(--fs-5);
    letter-spacing: -0.03em;
}

h3 {
    font-size: var(--fs-4);
    letter-spacing: -0.02em;
}

h4 {
    font-size: var(--fs-3);
}

h5 {
    font-size: var(--fs-2);
}

h6 {
    font-size: var(--fs-1);
}

