---
import Navigation from "./Navigation.astro";
---

<header class="main-navigation">
    <h2><a href="/" class="logo">Kasvata & kohtaa</a></h2>
    <Navigation placement="header" orientation="horizontal" />
</header>

<style>


    a {
        text-decoration: none;
        color: currentColor;
    }

    .logo {
        font-family: var(--ff-display);
        font-weight: var(--fw-light);
        font-size: var(--fs-2);
        line-height: 1.1;
    }
</style>