---
import HeaderLink from "./HeaderLink.astro";

const { placement = "footer", orientation = "vertical" } = Astro.props;
---

<nav class={placement}>
    <ul class={orientation}>
        <li>
            <HeaderLink href="/">Etusivu</HeaderLink>
        </li>
        <li>
            <HeaderLink href="/blogi">Blogi</HeaderLink>
        </li>
        <li>
            <HeaderLink href="/yhteystiedot">Yhteystiedot</HeaderLink>
        </li>
    </ul>
</nav>

<style>
    ul {
        list-style: none;

        &.horizontal {
            display: flex;
            gap: var(--space-s);
        }
    }

    a {
        color: currentColor;

        &:hover,
        &:focus-visible {
            color: var(--clr-red-fox);
        }
    }

    .header a {
        text-decoration: none;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }
</style>