@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

:root {
    --clr-sage-light: #FBFFF4;

    --ff-base: "Poppins", sans-serif; /* This should be Open Sans */
    --ff-display: "Josefin Sans", sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;
}

body {
    background-color: var(--clr-sage-light);
}